<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   XhPlist.plist
   AVKit_Study

   Created by 谢涵 on 2018/11/6.
   Copyright (c) 2018 谢涵. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        
        <key>NSCameraUsageDescription</key>
        <string>App需要您的同意,才能访问相机</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDeion</key>
        <string>App需要您的同意,才能始终访问位置</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>App需要您的同意,才能始终访问位置</string>
        <key>NSLocationUsageDescription</key>
        <string>App需要您的同意,才能访问位置</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>App需要您的同意,才能在使用期间访问位置</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>App需要您的同意,才能访问相册</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>App需要您的同意,才能访问相册</string>
        
        
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>wechat</string>
            <string>weixin</string>
            <string>sinaweibohd</string>
            <string>sinaweibo</string>
            <string>sinaweibosso</string>
            <string>weibosdk</string>
            <string>weibosdk2.5</string>
            <string>mqqapi</string>
            <string>mqq</string>
            <string>mqqOpensdkSSoLogin</string>
            <string>mqqconnect</string>
            <string>mqqopensdkdataline</string>
            <string>mqqopensdkgrouptribeshare</string>
            <string>mqqopensdkfriend</string>
            <string>mqqopensdkapi</string>
            <string>mqqopensdkapiV2</string>
            <string>mqqopensdkapiV3</string>
            <string>mqqopensdkapiV4</string>
            <string>mqzoneopensdk</string>
            <string>wtloginmqq</string>
            <string>wtloginmqq2</string>
            <string>mqqwpa</string>
            <string>mqzone</string>
            <string>mqzonev2</string>
            <string>mqzoneshare</string>
            <string>wtloginqzone</string>
            <string>mqzonewx</string>
            <string>mqzoneopensdkapiV2</string>
            <string>mqzoneopensdkapi19</string>
            <string>mqzoneopensdkapi</string>
            <string>mqqbrowser</string>
            <string>mttbrowser</string>
            <string>alipay</string>
            <string>alipays</string>
            <string>exchangestreet</string>
            <string>googlechrome</string>
        </array>
        
    
    </dict>
</plist>
